.btn {
	border-radius: 14px;
	background-color: rgba(255, 255, 255, 0.20);
	backdrop-filter: blur(6px);

	&:hover, &:active {
		background-color: rgba(255, 255, 255, 0.25) !important;
		color: white !important;
	}

	border: none !important;
}
