.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	z-index: 2;

	background: rgba(18, 21, 25, 0.70);
	backdrop-filter: blur(20px);

	padding: 24px;
}

.title {
	text-align: center !important;
	color: #FFFFFF !important;
	font-size: 24px !important;
}

.text {
	text-align: center !important;
	font-size: 17px !important;
	color: #FFFFFFCC !important;
}

.logo {
	width: 96px;
	height: 96px;

	overflow: hidden;
	border-radius: var(--radius-4xl, 20px);
	background: lightgray 50% / cover no-repeat;

	img {
		max-height: 100%;
	}
}
