.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  inset: 0;
  top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px));

  background-color: var(--black);

  &[data-fullscreen="true"] {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
  }
}

.content {
  height: 100%;
}

.footer {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;

  height: 140px;

  background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, rgba(18, 18, 18, 0.50) 100%);
}
