.wrapper {
	position: relative;
	overflow: hidden;

	height: 100%;
	width: 100%;

	img {
		height: 100%;
		object-fit: cover;
	}
}

.progress {
	display: inline-block;
	position: absolute;

	width: auto;
	left: 16px;
	right: 16px;
	bottom: 8px;

	padding: 0;
	margin: 0;

	:global .ant-progress-text {
		display: none;
	}

	:global .ant-progress-outer {
		backdrop-filter: blur(4px);
	}
}
